/node_modules
/public/hot
/public/callrail_hook_result.txt
/storage/debugbar
/storage/img
/storage/themes
/.idea
/.vscode
/.vagrant
/vendor
/setup
/storage/debugbar
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/HTML
.env
.htaccess
